<%- include("partials/header") %>
<!-- HEADER -->
<nav class="navbar navbar-light bg-light justify-content-between">
    <a style="margin-left: 5px;font-weight: bold;" href="/contacts" class="navbar-brand"> Contacts </a>

    <form action="/logout" method="post">
        <button style="margin-right: 4px;" class="btn btn-outline-danger btn-md" type="submit">Logout</button>
  </form>
</nav>
<!-- END OF HEADER -->
<br><br> <br><br>
    <div class="container box">
<form action="/add-contact" method="post">

        <div class="h3">New Contact</div>
        <input name="user" value="<%= userID %>" autofocus required type="hidden" placeholder="USER">
        <input name="fName" required type="text" placeholder="FIRST NAME">
        <input name="mName" type="text" placeholder="MIDDLE NAME (optional)">
        <input type="text"  name="lName" placeholder="LAST NAME">
        <input type="text" required name="number" placeholder="PHONE NUMBER">
        <input type="email" name="email" placeholder="EMAIL ADDRESS">
        <input type="text" name="address" placeholder=" ADDRESS">
        <br>
    <a href="/contacts" class="btn cancel btn-danger" type="submit">Cancel</a>
    <button class="btn save btn-success" type="submit">Save</button>
    </div>
    
</form>


<%- include("partials/footer") %>




